body {
  margin:0;
  font-family: Arial;
  background:#0f0f0f;
  color:white;
}

/* TOP */
.topbar {
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:#111;
}

.logo { color:red; font-weight:bold; }

/* VIDEO */
.video {
  margin:10px;
}
.video img {
  width:100%;
  border-radius:10px;
}

/* BOTTOM NAV */
.bottom {
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#111;
  padding:10px;
}

/* COMMENT */
input {
  padding:8px;
  width:70%;
}
button {
  padding:8px;
}